/*********************以下按html标签定义的样式基本，如果页面整体结构不变则不用改变*****************/
#hook{
    outline: solid #dcdcdc 1px;
}

body {
    background: #f8f8f8;
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: RGBA(0,0,0,.8);
    padding: 5px;
    color:white;
    z-index: 1099;
}

header p{
    margin: 10px;
}

article{
    background: #eee;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 80px 5%;
}

ul, li {
    list-style: none;
}

footer{
    height: 60px;
    background: RGBA(0,0,0,.8);
    line-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1099;
}

.lib{
    /******为了让其子元素可以顺利定位*****/
    position:relative;
}

/*************************这里以后基本不需要修改,这是display-box的基本样式（需要改变的是后面各个lib）****************************/
.display-box {
    /****设置position的目的是让z-index生效****/
    position:relative;
    z-index:1;
    width: 99%;
    margin: 0 auto 10px auto;
    display: block;
}

.display-box .auxiliary-area {
    position: absolute;
    top: 0;
    right: -51px;
    width: 15%;
    display: none;
    height: 110px;
    cursor: default;

}

.display-box .auxiliary-area p{
    background: #bfbfbf;
    color: white;
}

.display-box .auxiliary-area p:hover{
    background: #666;
}

.display-box.selected-box:before{
    content: "";
    box-sizing: content-box;
    border: 2px solid #4a83dc;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0,0.5);
    position: absolute;
    z-index: -1;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
}

.mouse-over-display-box{
    /*用outline就是position：absolute 的 border 可以不占位置*/
    outline:1px black dashed ;
    outline-offset: 1px;
}

/************************edit-box的样式，需要根据不同lib,使用不同的edit box,以后要不断完善*************************/
.edit-box{
    position: absolute;
    left:120%;
    top: 0;
    display:none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*margin-bottom: 25px;*/
    width: 100%;
    padding: 20px;
}

.edit-box .cancel-edit-box{
    position: absolute;
    right: 5%;
    color: red;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/***************************input img file**************************/
.custom-file-upload {
    margin: 10px auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 200px;
}

.custom-file-upload img{
    width: 80%;
    height: 100px;
}

.item input{
    width: 80%;
    height: 30px;
    margin: 0 auto 10px;
    border-radius: 0px
}

/************************************************/
.edit-box.type-2{
    width: 200%;
}

.item-group{
    display: flex;
    flex-wrap: wrap;
}

.item{
    outline: #dcdcdc solid 1px;
    margin:10px auto;

}
.test{
    color: #999;
    margin-top: -35%;
    margin-bottom: 20px
}

.edit-box.type-2.soloCol{
    width: 100%;
}

/**************************add-box的样式,这里以后基本不需要修改的，因为add-box只有一种类型*************************/
.add-box{
    width: 620px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top:-150px;


    background-color: white;
    box-shadow: 0 4px 8px 1024px rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 20px;
    z-index: 100;
    display: none;

}

.add-box img{
    width:80%;
    border:2px solid #666
}

.add-box button {
    padding:8px 16px;
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.add-box span{
    position: absolute;
    right: 5%;
    color: red;
    cursor: pointer;
}

.add-box .img-item{
    display: inline-block;
    width:45%;
    height:20%;
    margin:10px;

}

.add-box .img-item img:hover {
    outline: 1px solid blue;
    cursor:pointer;
}

.add-box .img-group{
    display: flex;
}

.add-box ul.pagination {
    display: flex;
    padding: 0;
    margin: 0;
}

.add-box ul.pagination li {
    display: inline;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.add-box ul.pagination li:hover {
    cursor: pointer;
}

.add-box hr{
    margin: 5px;
}

.add-box .hr1{
    position: absolute;
    top: 22%;
    height: 4px;
    border: none;
    color: #333;
    background-color: #333;
    width: 60px;
}

.add-box .hr2{
    position: absolute;
    left: 12%;
    top: 22%;
    height: 4px;
    border: none;
    color: #333;
    background-color: #333;
    width: 60px;
}

.add-box .hr3{
    position: absolute;
    left: 24%;
    top: 22%;
    height: 4px;
    border: none;
    color: #333;
    background-color: #333;
    width: 60px;
}

/****************************一下是针对不同lib template的样式，这部分需要不断完善***********************************/
.lib41,.lib23{
    width: 95%;
    display: block;
    margin-left: 2.5%;
}

.lib41 .show-box{
    position:relative;
    width: 25%;
    float: left;
}

.lib41 img{
    width: 100%;
    height: 71px;
    padding: 0 2px 0 2px;
}

.lib41 a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.lib42{
    background:white ;
    padding:20px;
    width: 95%;
    display: block;
    margin-left: 2.5%;
}

#last-add-box{
    background: white;
    padding:20px;
    width: 95%;
    display: block;
    margin-left: 2.5%;
}

.lib12{
    padding:20px;
    background-color: white;
    width: 99%;
    display: block;
}

.lib42 img,.lib12 img{
    width:40%;
}

.lib13 hr{
    border-top: 2px solid #ccc;
}

/***************************************删除组件时使其视觉上不可见*******************************/
.class-invisible{
    position:absolute;
    left:-10000px;
}
/*****************************************按钮闪光特效（可有可无）**********************************/
.save-page {
    margin: 15px;
    border-radius: 2px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    background-color: #4a83dc;
    border: none;
    color: white;
    width:  100px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.save-page::after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s
}

.save-page:active::after {
    /***从此状态变成上面的状态***/
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}





